li {
    list-style: none;
    padding: 10px;
    /* border: 1px solid pink; */
}

li * {
    text-decoration: none;
}

li *:hover {
    color: red;
}

nav {
    position: fixed;
    width: 100%;
    padding: 5px;
    /* border: 1px solid red; */
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}