#contain {
    background-color: var(--background);
    color: var(--leftOver);
}

/* timer */
#contain h1 {
    color: var(--correct)
}

.ocean {
    --background: #395E66;
    --leftOver: rgb(250, 240, 106);
    --correct: #FFA69E;
}

.light {
    --background: white;
    --leftOver: black;
    --incorrect: red;
    --correct: gray;
}

.dark {
    --background: black;
    --leftOver: rgb(171, 222, 83);
    --incorrect: darkred;
    --correct: rgb(247, 0, 255);
}

.bubbly {
    --background: pink;
    --leftOver: green;
    --incorrect: purple;
    --correct: orange;
}

body {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.navbar {
    position: absolute;
    width: 100%;
    background-color: var(--background);
}
.nav-link {
    color: var(--leftOver)
}

#center { 
    height: 100vh;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--correct)
}

.hidden {
    opacity: 0;
    border: transparent;
    border:0;outline:0;
    background:transparent;
    color:black;  
    -webkit-text-fill-color: transparent;
}
.button:hover {
    color: var(--incorrect);
}

input {
    caret-color: DeepPink;
    position: absolute;
    width: 100%;
    font-size: 1.5em;
    top: 0;
}
.buttons {
    text-align: right;
}
.text {
    font-size: 1.5em;
}
.txt {
    position: relative;
}
.incorrect {
    color: var(--incorrect);
}
.correct {
    color: var(--correct);
}
.leftOver {
    color: var(--leftOver);
}

#timer {
    padding: 2% 0%;
}